{% extends 'MaciejBundle:Default:Default.html.twig' %}

{% set active = 'GamesList'%}

{% block title %}List{% endblock %}

    
{% block body %} 
    <table>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Company name</td>
            <td> Date </td>
            <td> Logo </td>
        </tr>
    {% for id in games %}
        <tr>
        <td> {{ id.id}} </td>
        <td> {{id.title}} </td> 
        
            
        <td> {{id.company.company}} </td>
       
      
        <td> {{id.releaseDate.format('Y-m-d')}} </td>
        <td>{% if not id.logo is empty %} <img src="{{asset('/uploads/logos/' ~ id.logo.filename)}}"> 
        {% endif %}
        </td>
        <td>  <a href="{{ path('maciej_gameslist', {'wild' : id.id})}}">Delete</a> </td>
        <td>  <a href="{{ path('maciej_gamesedit', {'wild' : id.id})}}">Edit</a> </td>
        </tr>
    {% endfor %}
 
    </table>
   
   
    
{% endblock %}  