{# empty Twig template #}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Test Application{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('/bundles/maciej/css/style.css') }}">

    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
                <ul id="mainmenu">
                    <li {% if active is defined and active == 'CompanyForm' %}class="active" {% endif %}> <a href="{{ path('maciej_companyform')}}">Company Form</a></li>
                    <li {% if active is defined and active == 'CompanyList' %}class="active" {% endif %}> <a href="{{ path('maciej_companylist')}}">Company List</a></li>
                    <li {% if active is defined and active == 'GamesForm' %}class="active" {% endif %}> <a href="{{ path('maciej_gamesform')}}">Games Form</a></li>
                    <li {% if active is defined and active == 'GamesList' %}class="active" {% endif %}> <a href="{{ path('maciej_gameslist')}}">Games List</a></li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
        {% block body %}{% endblock %}
    </div>
</body>
</html>     