{% extends 'MaciejBundle:Switch:Switch.html.twig' %}

{% block title %}Form{% endblock %}
{% block sidebar %}
                <ul>
                   <li> <a href="{{ path('maciej_first', {'wild': 'first'})}}">First</a></li>
                    <li> <a href="{{ path('maciej_second', {'wild': 'second'})}}">Second</a></li>
                    <li> <b><a href="{{ path('maciej_form', {'wild': 'form'})}}">Form</a></b></li>
                </ul>
            {% endblock %}
    
{% block body %} 

{{ form_start(form) }}
{{ form_widget(form) }}
        <input type="submit" value="Create"
               class="btn btn-default pull-right"/>
{{ form_end(form) }}

{% endblock %}    

