{% extends 'MaciejBundle:Default:Default.html.twig' %}

{% set active = 'CompanyList'%}

{% block title %}List{% endblock %}


{% block body %} 
    <table>
        <tr>
            <td>Id</td>
            <td>Company Name</td>
            <td>Owner Name</td>
            <td>Owner Surname</td>
            <td>Founding Date </td>
        </tr>
        {% for company in companies %}
            <tr>
                <td> {{ company.id}} </td>
                <td> {{company.company}} </td> 
                <td> {{company.ownername}} </td>
                <td> {{company.ownersurname}} </td>
                <td> {{company.founded.format('Y-m-d')}} </td>
                <td>{% if not company.clogo is empty %} <img src="{{asset('/uploads/companies/' ~ company.clogo.filename)}}"> 
        {% endif %}
        </td>
                <td>  <a href="{{ path('maciej_companydelete', {'wild' : company.id})}}">Delete</a> </td>
                <td>  <a href="{{ path('maciej_companyedit', {'wild' : company.id})}}">Edit</a> </td>
            </tr>
        {% endfor %}

    </table>



{% endblock %}  {# empty Twig template #}
